body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.board {
    width: 80vw;
    height: 80vh;
    background: url("../images/bulbwall.jpg");
    background-size: 500px 500px;
    background-position: center;
    background-repeat: repeat;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-radius: 50%;
    padding: 20px;
}

.answers-grid {
    height: 70%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(4, auto);   
    gap: 1px;
    margin-top: 20px;
}

.game-area {
    background-color: blue;
    color: white;
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-radius: 30px;
    
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20%;
    background-color: rgb(8,14,101);
}

.player p {
    margin: 5px 5px 0 0;
}

.player img {
    width: 100px;
    height: auto;
    border-radius: 20%;

    border-style: inset;
    border-color: aquamarine;
}

.answer {
    background: radial-gradient(ellipse at top, rgb(100, 145, 223) 40%, rgb(13, 63, 192) 100%);
    padding: 15px;
    border: 2px solid rgb(205, 205, 209);
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
}

/* Make last answer span both columns */
.full-span {
    grid-column: span 2;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 140px;
    background-color: #041b39;
    top: 0;
    position: fixed;
    border-left: 4px;
    border-right: 4px;
    border-bottom: 4px;
    border-top: 0px;
    border-style: solid;
    border-color: aqua;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    font-size: 25px;
    border-style: groove;
}

h2 {
    margin: 0;
    font-size: 40px;
}
h3 {
    margin: 10px;
}

footer {
    background-color:rgb(4, 27, 57);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 60vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid rgb(80, 91, 91);
    border-bottom: 0px;
}

.board-box {
    padding: 15px;
    border-radius: 50%;
    border: 5px solid yellow;
}

#outer {
    background-color: rgb(61, 54, 38);
    padding: 0px;
}

#inner {
    border-color: orange;
}

#answerInput {
    height: 50px;
    width: 60%;
    font-size: 30px;
    text-align: center;
}
